 <h1>Calendario</h1>
 <div class="googleCalendar">

          <iframe src="https://calendar.google.com/calendar/embed?title=Orden%20DeMolay%20-%20Jurisdicci%C3%B3n%20Bolivia&amp;showCalendars=0&amp;showTz=0&amp;height=500&amp;wkst=1&amp;hl=es&amp;bgcolor=%23ffffff&amp;src=eventos.dm.bolivia%40gmail.com&amp;color=%23A32929&amp;src=es.bo%23holiday%40group.v.calendar.google.com&amp;color=%230D7813&amp;ctz=America%2FLa_Paz" style="border-width:0" frameborder="0" scrolling="no"></iframe>

 </div>
 <h1>Publicaciones</h1>
	<div class="row">
		<div class="col-lg-12" id="my-posts-main">
			<%= render partial: "publications", collection: @publicaciones_para_mostrar %>
		</div>
	</div>


	<div id="infinite-scrolling">
		<div class="apple_pagination" style="visibility: hidden;">
			<%= will_paginate @publicaciones_para_mostrar, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
		</div>
	</div>