

	<div class="row">
		<div class="col-lg-12" id="my-posts-main">
			<%= render partial: "publications", collection: @publicaciones_para_mostrar %>
		</div>
	</div>

	<div id="infinite-scrolling">
		<div class="apple_pagination" style="visibility: hidden;">
			<%= will_paginate @publicaciones_para_mostrar, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
		</div>

	</div>



