<div class="form-group"><label class="control-label" for="user_chapter_id">(*) Capítulo</label>
<select class="form-control" name="user[chapter_id]" id="user_chapter_id">
	<option value="">Seleccionar capítulo</option>
	<% @chapters.each do |chapter| %>
		<option value="<%=chapter.id%>"><%=chapter.chapter_name%></option>
	<% end %>
</select>
</div>
