
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="jumbotron">
        <h1 class="center-title">Publicaciones pendientes</h1>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Título</th>
                <th>Autor</th>
                <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% @announcements_to_aprove.each do |announcement| %>
                <tr>
                  <td><%= announcement.subject %></td>
                  <td><%= link_to announcement.user.fullName, '/profile/' + announcement.user.id.to_s %></td>
                  <td><%= link_to "Ver publicación", announcement %></td>
                  <td><%= link_to "Aprobar publicación", '/aprove_publication/' + announcement.id.to_s %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
