
    <h1 class="center-title">Resultados de la búsqueda</h1>
    <h3>Usuarios</h3>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>
              Nombre
            </th>
            <th>
              Operaciones
            </th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <td><%= user.fullName %></td>
              <td>
                <%= link_to "Ver perfil", "/profile/"+user.id.to_s %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <hr class="divider">
    <h3>Entes</h3>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th>
              Nombre
            </th>
            <th>
              Operaciones
            </th>
          </tr>
        </thead>
        <% @entes.each do |ente| %>
          <tbody>
            <tr>
              <td><%= ente.chapter_name %></td>
              <td>
                <%= link_to "Ver", "/chapters/"+ente.id.to_s %><br>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <% @entes.each do |ente| %>

    <% end %>

