	
	<h1>Editar Anuncio</h1>

	<%= render 'form' %><br><br>
	<center>
	<%= link_to 'Ver', @oficer_an , :class => "btn btn-primary"%> 
	<%= link_to 'Atras', oficer_ans_path, :class => "btn btn-danger" %>
	</center>
