<h1>Nuevo anuncio de Oficialia Ejecutiva</h1>
<div class="jumbotron">
	<%= render 'form' %>
	<br><br>
	<center>
		<%= link_to 'Atras', oficer_ans_path, :class => "btn btn-danger"%>
	</center>
</div>


