
		<p class="text-center">
		  <strong>Usuario</strong><br>
		  <%= @degree.user.fullName %>
		</p>

		<p class="text-center">
		  <strong>Razón del grado</strong><br>
		  <%= @degree.title %>
		</p>

		<p class="text-center">
		  <strong>Formulario del grado</strong><br>
		  <%= link_to "Ver Formulario de " + @degree.title.to_s,@degree.image.url, target: "_blank" , class: "btn btn-info"%>
		</p>

		<%= link_to "Aprobar", "/approve_degree/"+@degree.id.to_s, class: "btn btn-success" %>
