<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h2 class="center-title">Iniciar sesi칩n</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, label: "Correo Electr칩nico" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", label: "Contrase침a" %>
        </div>

        <div class="actions">
          <%= f.submit "Iniciar Sesi칩n" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
