

<p>
  <strong>Title:</strong>
  <%= @premiacion.title %>
</p>

<p>
  <strong>Icon:</strong>
 <img src="<%= @premiacion.icon %>">
</p>

<%= link_to 'Editar', edit_premiacion_path(@premiacion) %> |
<%= link_to 'Atras', premiacions_path %>
