<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 text-center">
        <h1 class="center-title">Editar Ente</h1>
        <hr class="divider">
      	<%= render 'form' %>
      </div>
    </div>
  </div>
</div>
