
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 text-center">
        <h2 class="center-title">Editar Departamento</h2>
        <hr class="divider">
      	<%= render 'form' %>
      </div>
    </div>
