<div class="container">
  <div class="jumbotron">
    <h1 class="text-center" style="margin-bottom:15px;">Cuerpos Demolay</h1>
    <h2>Campamentos</h2>
    <div class="row">
      <% @campaments.each do |chapter| %>
      <div class="col-lg-4">
        <a class="image_link" href="/campaments/<%=chapter.id%>">
          <div class="image_name"><%=chapter.name%></div>
          <img class="img-responsive" src="<%=chapter.image.url%>">
        </a>
      </div>
    <%end%>
    </div>
  </div>
</div>
