<div class="container">
  <div class="jumbotron">
    <div class="row">
      <h1 class="center-title">Crear Departamento</h1>
      <div class="col-lg-12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
