/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
p {
  text-align: justify;
}
th {
  text-align: center;
}
td {
  text-align: center;
}
.field {
  text-align: center;
}
.actions {
  text-align: center;
}
.center-title {
  text-align: center;
}
.info {
  font-size: 130%;
  text-align: justify;
}

.image_link:hover img{
	border:solid grey;
	opacity: 0.6;
  filter: alpha(opacity=60);
}

.image_name{
	background-color: #490808;
	color:#ddd;
	text-align: center;
}

h1{
	background-color: #490808;
	padding:10px;
	color:white !important;
}

h2{
	background-color: #490808;
	padding:10px;
	color:white;
	width: 300px;
}

h3{
  text-transform: uppercase;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
    background-color: #490808;
    border-color: #490808;
    padding: 0;
}

.navbar-default .navbar-brand {
    color: #ddd;
}

.navbar-default .navbar-nav > li > a {
    color: #ddd;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover{
    color: white;
}
.fix {
  margin-top: 6px;
}
.campament{
  font-size: 10px;
}

.chapter{
  font-size: 10px;
}

.publicacion{
  border-bottom:solid #777 1px;
  padding: 5px;
}
.chapter-title {
  margin-left:15px;
}
