<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado el cambio de tu contrase침a. Puedes realizar esta operaci칩n con el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no realizaste esta solicitud, porfavor ignorar este correo.</p>
<p>Tu contrase침a no sera actualizada hasta que ingreses al enlace.</p>
