<p>Hola <%= @resource.email %>!</p>

<p>Tu contraseña ha sido bloqueada por equivocarte varias veces al iniciar sesión.</p>

<p>Hacer click en el siguiente enlace para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
