Favor hacer click en uno de los siguientes<br>
<% if @users!=nil%>
	<% @users.each do |user| %>
	<a href="#" onclick="pass_name('<%= user.fullName %>','<%= user.id %>')">
    	<strong><%= user.fullName %><br></strong>
    </a>
  <% end %>
<%end%>
